@font-face {
    font-family:roboto;
    src: url(./fonts/Roboto/Roboto-Black.ttf);
  }
body{
    margin: 0;
    padding: 0;
    font-family: roboto;
}
.navbar
{
    height: 60px;
    width: 100%;
    color: white;
    margin-top: 0;
    vertical-align: top;
    background-color: blue;
    /* background-color: aquamarine; */
}
.logo,.cart{
    /* position: absolute; */
    height: 60px;
    display: inline-block;
    width: 24%;
    margin-top: 0;
    margin-left: 25%;
    
    overflow: hidden;
}
.cart:hover{
    /* filter: invert(100%); */
    cursor: pointer;
}
.cart img{
    display: inline-block;
    margin-top:1px;
    vertical-align: top;
}
.badge
{
    position: absolute;
    margin-top: -17px;
    margin-left: 1038px;
}
.items
{
    width: 90%;
    margin-left: 5%;
    margin-top: 200px;
    vertical-align: top;
    
}
.item{
    height: 400px;
    overflow: hidden;
    width: 20%;
    display: inline-block;
    border: 2px solid black;
    
}
.item img{
    margin-left: 30%;    
    margin-top: 50px;
    height: 200px;
    width: 40%;
}

.item .product-name
{
    padding: 5px;
    font-family: roboto;
    text-align: center;
}
.item .product-price
{
    text-align: center;
    font-size: 15px;
}
.item .btn
{
    text-align: center;
    width: 35%;
    margin-left: 10%;
    font-size: 12px;
}

.run-cart-animation{
    animation: shake 0.5s;
  /* animation-iteration-count: infinite; */

}

/* image tilt */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


  /* modal  css*/
  .modal-item
{
    /* display: inline-block; */
    vertical-align: top;
}

.modal-plus,.modal-qty,.modal-sub,.modal-product-price,.modal-product-rupee,.modal-remove
{
    display: inline-block;
    padding: 2px;
}
.modal-plus,.modal-sub{
    height: 30px;
    vertical-align:top;
    width: 50px;
    font-size: 20px;
    line-height: 15px;
    font-weight: bolder;
}
.modal-sub{
    margin-left: 100px;
}

.modal-remove{
    float: right;
}
.modal-qty{
    height: 30px;
    width: 50px;
    border: 2px solid black;
    text-align:center;
    font-size: 20px;
    vertical-align: top;
    line-height: 20px;

}
.modal-product-name{
    width: 200px;
    display: inline-block;
}
.modal-product-rupee
{
    margin-left: 30px;
}

.alert-danger
{
    text-align: center;
}

/* invoice css */
.order-item
{
    width: 80%;
    margin-left: 10%;
}
.order-product-name,.order-product-rupee,.order-product-price,.orderpricecontainer
{
    /* padding: 2px;s */
    display: inline-block;
    
}
.order-product-price
{
    /* float: right; */
    /* text-align: center; */
    
    letter-spacing: 3px;
}
.orderpricecontainer
{
    /* float: right; */
    position: absolute;
    right: 100px;
}
.place-order
{
    width: 20%;
    margin-left: 40%;
    padding-bottom: 5px;
    margin-bottom: 10px;
}